<footer class="rodape">
    <section class="rodape__secao-informacoes">
      <div class="rodape__container">
        <div class="rodape__informacoes">
          <div class="rodape__informacao">
            <p class="rodape__titulo" >Minha Conta</p>
            <ul class="rodape__links">
              <li>
                {% if request.user.is_authenticated %}
                <a href="{% url 'meus_pedidos' %}"
                  >Meus Pedidos</a
                >
                {% else %}
                <a href="{% url 'fazer_login' %}"
                  >Meus Pedidos</a
                >
                {% endif %}
              </li>
            </ul>
          </div>
          <div class="rodape__informacao">
            <p class="rodape__titulo">Suporte</p>

            <ul class="rodape__links">
                <li>
                <a href="https://www.usereserva.com/politica-de-privacidade"
                  >Política de Privacidade</a
                >
              </li>
              <li>
                <a href="https://www.usereserva.com/termos-de-uso"
                  >Termos de Uso</a
                >
              </li>
            </ul>
          </div>
        </div>

        <div class="rodape__atendimento">
          <p class="rodape__titulo">Atendimento</p>

          <div class="rodape__ancoras">
            <div class="rodape__whatsapp">
              <a class="rodape__ancora-icone" href="https://wa.me/5581988371737">
                <img
                  loading="lazy"
                  crossorigin="anonymous"
                  class="rodape__icone"
                  data-src="https://lojausereserva.vtexassets.com/assets/vtex.file-manager-graphql/images/d20346db-d162-4873-8518-b8548620acf6___07a0cb802e61ce015e6477828969ca35.svg"
                  src="https://lojausereserva.vtexassets.com/assets/vtex.file-manager-graphql/images/d20346db-d162-4873-8518-b8548620acf6___07a0cb802e61ce015e6477828969ca35.svg"
                />
                WhatsApp AtelieMaryBel
              </a>
            </div>
          </div>

          <div class="rodape__redes">
            <a href="https://www.instagram.com/ateliemarybel?igsh=MXIyb3VydTJ6dWIyag==" class="rodape__rede">
              <img
                src="https://lojausereserva.vtexassets.com/arquivos/insx1.png"
                alt="Logo Instagram"
              />
            </a>
            <a href="https://www.instagram.com/ateliemarybel?igsh=MXIyb3VydTJ6dWIyag=="><p>Siga-nos nas redes sociais</p></a>
          </div>
        </div>
      </div>
    </section>
  </footer>